:root {
  --blue: #00a3f3;
  --green: #16d97e;
  --pink: #ff00b2;
  --black: #121c11;
  --grey: #474747;
}
html {
  font-family: Roboto, sans-serif;
  color: #121c11;
}
.hero {
  max-width: 600px;
  margin: 70px auto;
  text-align: center;
  position: relative;
  padding: 0 20px;
}
.logo {
  position: absolute;
  animation: logo-animation1 4s linear infinite;
}
@media (max-width: 1180px) {
  .logo {
    display: none;
  }
}
.Hero-module--svgHorizontal--43nLx {
  height: 45px;
}
.hero-title {
  color: #00a3f3;
  font-weight: 500;
  font-size: 34px;
}

.hero-subtitle {
  font-size: 14px;
  display: block;
  color: black;
}

.hero-intro {
  font-size: 18px;
  line-height: 33px;
  margin-top: 36px;
}
.hero-deco {
  width: 225px;
  margin-top: 20px;
}
.logo-sass {
  top: 81%;
  right: -9%;
  width: 36px;
}
.logo-react,
.logo-sass {
  animation: logo-animation2 6s linear infinite;
}
.logo-react {
  top: -14%;
  left: -20%;
  width: 51px;
}
.logo-npm {
  top: 17%;
  left: -12%;
  height: 12px;
}
.logo-github {
  top: 55%;
  left: -34%;
  width: 23px;
}
.logo-vscode {
  top: 5%;
  right: -13%;
  width: 28px;
}
.logo-typescript {
  top: 39%;
  right: -33%;
  width: 62px;
  animation: logo-animation2 6s linear infinite;
}
.logo-react-testing-library {
  top: 88%;
  right: -38%;
  width: 31px;
}
.logo-html5 {
  top: 73%;
  left: -11%;
  width: 30px;
}
.logo-html5,
.logo-redux {
  animation: logo-animation2 6s linear infinite;
}
.logo-redux {
  top: 10%;
  left: -38%;
  width: 27px;
}

@keyframes logo-animation1 {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(1turn) translateX(5px) rotate(-1turn);
  }
}
@keyframes logo-animation2 {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(-1turn) translateX(5px) rotate(1turn);
  }
}
.skills-item {
  list-style: none;
  vertical-align: middle;
  display: flex;
  justify-items: center;
  align-items: center;
}
.Item-module--span--1ZWYn {
  color: var(--black);
}
.skills-item:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: currentColor;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: middle;
  display: flex;
  justify-items: center;
  align-items: center;
}
.section {
  max-width: 850px;
  margin: 80px auto;
  padding: 0 20px;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
.section-hr {
  background-color: var(--blue);
  width: 40px;
  height: 3px;
  display: inline-block;
  border: none;
}

.skills {
  margin-bottom: 30px;
}
.skills:last-child {
  margin-bottom: 0;
}

.skills-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .skills-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 500px) {
  .skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skills-module--skills--1WlH4 div:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  justify-items: center;
}
.footer-inner {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  list-style: none;
}
@media (max-width: 500px) {
  .footer-inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer-link {
  background: transparent;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 44px;
  line-height: 44px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: var(--grey);
  font-weight: 500;
  text-align: center;
}
.footer-icon {
  padding-right: 4px;
  color: var(--blue);
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}
.footer-icon {
  margin-bottom: 20px;
}
