<!DOCTYPE html>
<html lang="en">
  <head>
    aaa
  </head>
  <body>

    {{!-- Content
    ================================================ --}}
    <div class="page-wrap no-transitions" id="page-wrap">
      hey
    </div>

   aaa
  </body>
</html>